<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск абитуриентов</title>
     <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <center>
            <h1>Поиск абитурентов</h1>
            <h3>на основе сайта <a href="http://admlist.ru/index.html">admlist.ru</a></h3>
        </center>
    </header>
    <main role="main">
        <form action="" method="post" enctype=multipart/form-data>
            {{ form.hidden_tag() }}
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-5">
                        <div class="form-group">
                            {{ form.list_entrants.label }} <br>
                            {{ form.list_entrants(class="form-control", rows="5")}}
                            <small id="textHelp" class="form-text text-muted">При заполнении обоих полей это является приоритетным</small>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">ИЛИ</div>
                    <div class="col-12 col-md-5">
                        <div class="form-group">
                            {{ form.file_entrants.label }} <br>
                            {{ form.file_entrants(class="form-control")}}
                        </div>
                    </div>
             </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-mod-6">
                        <div class="form-group form-check">
                            {{ form.is_analysis(class="form-check-input") }} {{ form.is_analysis.label(class="form-check-label") }}
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12">
                        <center>
                            {{ form.submit(type="submit", class="btn btn-primary") }}
                        </center>
                    </div>
                </div>
            </div>
        </form>
        <div class="container">
            {% for s in result %}
            <div>{{ s }}</div> <br>
            {% endfor %}
        </div>
    </main>
</body>
</html>